{% extends 'base.html' %}

{% block content %}
Welcome to Pokeme

<div id='tweets'>
    Replace me
</div>

<script>
    const tweetsElement = document.getElementsById("tweets")
    tweetsElement.innerHTML = 'loading....'

    // var el1 ="<h1>Hi there 1</h1>"
    // var el2 ="<h1>Hi there 2</h1>"
    // var el3 ="<h1>Hi there 3</h1>"
    // var el4 ="<h1>Hi there 4</h1>"
    // tweetsElement.innerHTML = el1 + el2 +el3 +el4

    const xhr = new XMLHttpRequest()
    const method = "GET"
    const url = "/tweets"
    const responseType = "json"

    xhr.responseType =responseType
    xhr.open(method, url)
    xhr.onload = function (){
        const serverResponse = xhr.response
        var listedItems = serverResponse.response
        console.log(listedItems)
    }
    xhr.send();
</script>

{% endblock content %}